<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" ng-App="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Chính phú điện tử</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/DateTimePicker.css" />
	<link rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css"/>
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
<!--     <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet"> -->
	<!-- Add libs -->
	<script src="assets/libs/jquery-1.12.1.js"></script>
  	<script src="assets/libs/bootstrap.min.js"></script>
  	<script type="text/javascript" src="assets/libs/DateTimePicker.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  	<script type="text/javascript" src="assets/libs/ui-bootstrap-tpls-1.3.2.min.js"></script>
	<script src="assets/libs/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
	<script src="assets/libs/ng-file-upload.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?v=3.22&amp;key=AIzaSyAdS7mTduExQFMY-x090WPiYRLPoMEK_JI" type="text/javascript">
	</script>
	<script src="assets/libs/ngStorage.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
	<script src="bower_components/ngSweetAlert/SweetAlert.min.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
	<script src="bower_components/angular-spinner/angular-spinner.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="bower_components/angular-read-more/dist/readmore.min.js"></script>
	<script type="text/javascript" src="http://cryptojs.altervista.org/api/functions_cryptography.js"></script>

	<!-- load momentJS (required for angular-moment) -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

	<!-- load angular-moment -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
</head>

<body ng-controller="mainController">
	<div class="banner">
		<span class="bannerTPHCM">
			<h2>EGov, Ho Chi Minh City</h2>
			<button class="btn btn-ghost btn-default">Tải ứng dụng</button>
		</span>
	</div>
	<div id="wrapper">
		<nav class="navbar navbar-default" role="navigation" ng-controller ="mainTabController as mainTab">
			<div class="container">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>

			    <a class="navbar-brand border-left border-right" href="#/list"><icon class="glyphicon glyphicon-home"></icon></a>

			  </div>
			  <div class="collapse navbar-collapse" id="navbar-collapse-01">
			    <ul class="nav navbar-nav">
			      	<li class="border-right">
			      		<a href="#/report-issue" ng-click="mainTab.selectTab(2)"><strong>ĐĂNG PHẢN ÁNH</strong></a>
			      	</li>
			      	<li class="border-right" ng-if="isAdmin()"><a href="#/authorization-management">Phân quyền</a></li>
			      	<li class="border-right" ng-if="isAdmin()"><a href="#/division-management">Quản lý cơ quan</a></li>
	            	<li class="border-right" ng-if="isManager()"><a href="#/report-management">Quản lý phản ánh</a></li>
	            	<li class="border-right" ng-if="isDivision()"><a href="#/report-management-division">Quản lý phản ánh</a></li>
	            	<li class="border-right"><a href="#/announcement">Thông báo</a></li>
			    </ul>
	            <ul class="nav navbar-nav navbar-right" ng-if="!isAuthorizedUser()" >
	 			 	<li><a href="" ng-click="logInModal()">Đăng nhập</a></li>
	              	<li><a href="" ng-click="signUpModal()">Đăng ký</a></li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right" ng-if="isAuthorizedUser()" >
	            	<li><a href="#/profile">Chào <strong>{{user.name}}</strong>!</a></li>
	              	<li><a href="" ng-click="logout()">Đăng xuất</a></li>
	            </ul>
			  </div><!-- /.navbar-collapse -->
			</div> <!-- /.container -->
		</nav><!-- /navbar -->

		<div class="content" >
			<div ng-view></div>
			<div class="clearfooter"></div>
		</div>
	</div>

	<div class="main-footer">

	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="copyright">
						© 2015 All rights reserved
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="design">
						 <a href="#">Điều khoản sử dụng</a> | <a href="#">Bảo Mật</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<!-- Add scripts -->
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/components/login/controller.js"></script>
	<script type="text/javascript" src="app/components/signup/controller.js"></script>
	<script type="text/javascript" src="app/components/guest/controller.js"></script>
	<script type="text/javascript" src="app/components/reportIssue/controller.js"></script>
	<script type="text/javascript" src="app/components/authorization-management/controller.js"></script>
	<script type="text/javascript" src="app/components/changePassword/controller.js"></script>
	<script type="text/javascript" src="app/components/profile/controller.js"></script>
	<script type="text/javascript" src="app/components/report-management/controller.js"></script>
	<script type="text/javascript" src="app/components/report-management-division/controller.js"></script>
	<script type="text/javascript" src="app/components/report-management-detail-0/controller.js"></script>
	<script type="text/javascript" src="app/components/report-management-detail-1/controller.js"></script>
	<script type="text/javascript" src="app/components/issue-management-detail-2/controller.js"></script>
	<script type="text/javascript" src="app/components/issue-management-detail-3/controller.js"></script>
	<script type="text/javascript" src="app/components/division-management/controller.js"></script>
	<script type="text/javascript" src="app/components/post-division/controller.js"></script>
	<script type="text/javascript" src="app/components/announcement/controller.js"></script>
	<script type="text/javascript" src="app/components/post-announcement/controller.js"></script>
	<script type="text/javascript" src="app/components/post-officer/controller.js"></script>
	<script type="text/javascript" src="app/components/list/controller.js"></script>
	<script type="text/javascript" src="app/components/map/controller.js"></script>
	<script type="text/javascript" src="app/components/gallery/controller.js"></script>
</body>
</html>