<!DOCTYPE html>
<html lang="en" ng-App="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Chính phú điện tử</title>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/DateTimePicker.css" />
	<link rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css"/>
	<link rel="shortcut icon" href="">

	<!-- Add libs -->
	<script src="assets/libs/jquery-1.12.1.js"></script>
  	<script src="assets/libs/bootstrap.min.js"></script>
  	<script type="text/javascript" src="assets/libs/DateTimePicker.js"></script>
  	<script type="text/javascript" src="assets/libs/angular.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
  	<script type="text/javascript" src="assets/libs/ui-bootstrap-tpls-1.3.2.min.js"></script>
	<script src="assets/libs/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
	<script src="assets/libs/ng-file-upload.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?v=3.22&amp;key=AIzaSyAdS7mTduExQFMY-x090WPiYRLPoMEK_JI" type="text/javascript">
	</script>
	<script src="assets/libs/ngStorage.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
	<script src="bower_components/ngSweetAlert/SweetAlert.min.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
	<script src="bower_components/angular-spinner/angular-spinner.js"></script>
	<script type="text/javascript" src="http://cryptojs.altervista.org/api/functions_cryptography.js"></script>  
</head>
<body ng-controller="mainController">
	<nav class="navbar navbar-inverse navbar-embossed" role="navigation"
	ng-controller ="mainTabController as mainTab">
		<div class="container">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>

		    <a class="navbar-brand" href="#/list">Ho Chi Minh city</a>

		  </div>
		  <div class="collapse navbar-collapse" id="navbar-collapse-01">
		    <ul class="nav navbar-nav">
		        <li class="dropdown" ng-class="{active: mainTab.isSelected(1)}">
			        <a class="dropdown-toggle" data-toggle="dropdown" href=""
			          ng-click="mainTab.selectTab(1)">Home
			          <span class="caret"></span>
			      	</a>
		          	<ul class="dropdown-menu" ng-controller = "mainTabController as m">
		            	<li ng-class="{active: m.isSelected(1)}">
		            		<a href="#/" ng-click="m.selectTab(1)">List View</a>
		            	</li>
		            	<li ng-class="{active: m.isSelected(2)}">
		            		<a href="#/map" ng-click="m.selectTab(2)">Map View</a>
		            	</li>
		            	<li ng-class="{active: m.isSelected(3)}">
		            		<a href="#/gallery" ng-click="m.selectTab(3)">Gallery View</a>
		            	</li>
		          	</ul>
		        </li>
		      	<li ng-class="{active: mainTab.isSelected(2)}">
		      		<a href="#/report-issue" ng-click="mainTab.selectTab(2)">Đăng phản ánh</a>
		      	</li>
		    </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="!isAuthorizedUser()" >
 			 	<li><a href="" ng-click="logInModal()">Đăng nhập</a></li>
              	<li><a href="" ng-click="signUpModal()">Đăng ký</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="isAuthorizedUser()" >
            	<li ng-if="isAdmin()"><a href="#/authorization-management">Phân quyền</a></li>
            	<li><a href="#/profile">Trang cá nhân</a></li>
              	<li><a href="" ng-click="logout()">Đăng xuất</a></li>
            </ul>
		  </div><!-- /.navbar-collapse -->
		</div> <!-- /.container -->
	</nav><!-- /navbar -->

	<div ng-view></div>

	<!-- Add scripts -->
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/components/login/controller.js"></script>
	<script type="text/javascript" src="app/components/signup/controller.js"></script>
	<script type="text/javascript" src="app/components/guest/controller.js"></script>
	<script type="text/javascript" src="app/components/reportIssue/test.js"></script>
	<script type="text/javascript" src="app/components/authorization-management/controller.js"></script>
	<script type="text/javascript" src="app/components/changePassword/controller.js"></script>
	<script type="text/javascript" src="app/components/profile/controller.js"></script>
</body>
</html>