<div class="container">
	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Library</a></li>
	  <li class="active">Data</li>
	</ol>
	<section class="col-lg-8 col-md-12">
		<!-- Search -->
		<div class="module-search">
			<div class="search-input">
				<input class="form-control" ng-model="searchInput" type="text" placeholder="Tìm kiếm phản ánh...">
			</div>
			<div class="advanced-search">
				<div class="row first">
					<label for="" class="mrm">Trạng thái:</label>
					<div class="right">
						<label class="mrm">
							<input type="checkbox" ng-model="isReceived" ng-init="isReceived = true">
							Đã tiếp nhận
						</label>
						<label class="mrm">
							<input type="checkbox" ng-model="isInProgress" ng-init="isInProgress = true">
							Đang xử lý
						</label>
						<label class="mrm">
							<input type="checkbox" ng-model="isResolved" ng-init="isResolved = true">
							Đã giải quyết
						</label>
					</div>
				</div>
<!-- 				<div class="row first">
	<label for="" class="mrm">Sắp xếp theo:</label>
	<div class="right">
		<label class="mrm">
			<select ng-model="firstOrderBy">
				<option ng-repeat="fOrder in firstOrder">{{fOrder.name}}</option>
			</select>
		</label>
		<label class="mrm">
			<select name="secondOrder" id="" ng-model="secondOrderBy">
				<option ng-repeat="sOrder in secondOrder">{{sOrder}}</option>
			</select>
		</label>
	</div>
</div> -->
			</div>
		</div>
		<!-- Danh sách request -->
		<div class="main bordered">
			<div class="content-title">
				<div class="change-view float-right">
					<a href="#/">
						<i class="glyphicon glyphicon-list"></i>
					</a>
					<a href="#/gallery">
						<i class="glyphicon glyphicon-picture"></i>
					</a>
					<a href="#/map">
						<i class="glyphicon glyphicon-map-marker"></i>
					</a>
				</div>
				DANH SÁCH CÁC PHẢN ÁNH
			</div>
			<div id="issue-list">
				<ul id="issue-list-ul" >
					<h4 ng-hide="requests.length">Chưa có phản hồi nào</h4>
					<li ng-repeat="request in filteredRequests" ng-attr-id="{{'issue_id_' + request.serviceRequestId}}">
						<md-card class="thumbnail-image-card float-left">
		 					<img ng-src="{{request.mediaUrl}}" ng-mouseover="mouseOver(request.latitude, request.longitude)" ng-mouseleave="mouseLeave()" class="md-card-image thumbnail-image bordered" alt="image caption">
		 					<md-card-footer>
						        <strong>ID - {{request.serviceRequestId}}</strong>
						    </md-card-footer>
		 				</md-card>
						<div class="issue-panel">
							<div class="row-issue-title">
								<h5 class="issue-title float-left">
									<a href="#/issue/{{request.serviceRequestId}}" class="issue-link"
									ng-mouseover="mouseOver(request.latitude, request.longitude)"
									ng-mouseleave="mouseLeave()">{{request.serviceName}}</a>
								</h5>
								<span class="badge float-right">{{convertStatusId(request.statusId)}}</span>
							</div>
							<p class="issue-address"><i class="glyphicon glyphicon-map-marker"></i>{{request.address}}</p>
							<p class="issue-address"><i class="glyphicon glyphicon-time"></i> {{request.happenDatetime | date:'dd/MM/yyyy HH:mm:ss'}}</p>
							<p class="issue-content" hm-read-more
								hm-text="{{ request.description }}"
								hm-limit="250"
								hm-more-text="Đọc thêm"
								hm-less-text="Thu nhỏ"
								hm-dots-class="dots"
								hm-link-class="links">
							</p>
							<span class="info" ><time am-time-ago="'{{request.requestedDatetime}}'"></time>
								<span class="sep">•</span>
								<span>Đăng bởi </span>
								<a href="" class="user">{{request.user.name}}</a>
							</span>
							<ul class="issue-comments">
								<li ng-repeat="comment in comments" ng-show="checkId({{comment.request.serviceRequestId}}, {{request.serviceRequestId}})">
									<div class="user-avatar">
										<md-card class="avatar-image-card float-left">
						 					<img ng-src="http://en.seeclickfix.com/assets/no-avatar-32x32-82ce5a13a978e3589d1fdedabcd28685498d119aa94008759130d8495c10b5fe.png">
						 				</md-card>
									</div>
									<div class="user-comment">
										<h5 class="user-name">
											<a href="" class="user-link">{{comment.user.name}}</a>
										</h5>
										<div class="commentText">{{comment.content}}</div>
										<span class="info"><time am-time-ago="'{{comment.postDatetime}}'"></time></span>
									</div>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- Pagination -->
		<div class="pagination module-block" ng-if="filteredRequests.length">
			<div class="float-right"> Hiển thị {{(pager.currentPage - 1) * requestPerPage + 1}} - {{pager.currentPage * requestPerPage >= filteredRequests.length ? filteredRequests.length : pager.currentPage * requestPerPage;}} của {{filteredRequests.length}}</div>
			<div class="float-left pagination-achor">
				<a ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(1)">Trang đầu</a>
				<a ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(pager.currentPage - 1)"><i class="glyphicon glyphicon-menu-left"></i></a>
				<a ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}" ng-click="setPage(page)">
					{{page}}
				</a>
				<a ng-class="{disabled:pager.currentPage === pager.totalPages}" ng-click="setPage(pager.currentPage + 1)"><i class="glyphicon glyphicon-menu-right"></i></a>
				<a ng-class="{disabled:pager.currentPage === pager.totalPages}" ng-click="setPage(pager.totalPages)">Trang cuối</a>
			</div>
		</div>
	</section>
	<section class="col-lg-4 col-md-12">
		<div class="map bordered">
			<div id="mainMap" style="height:380px"></div>
		</div>

		<h3 class="announcement-type">Thông báo</h3>
        <ul class="announcement-panel">
            <li ng-repeat="announcement in announcements | limitTo: 10 | orderBy:'time':true" ng-attr-id="{{'issue_id_' + announcement.id}}">
                <span><h4><a href="">{{announcement.title}}</a><small> - {{announcement.time | date:'dd/MM/yyyy'}}</small></h4></span>
                <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-if="isManager()" ng-click="deleteAnnouncement(announcement.id)"></span>
            </li>
        </ul>
        <a href="#/announcement" class="float-right">Xem thêm</a>
	</section>
</div>
