<div class="modal-header">
    <button class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Thêm cơ quan</h4>
</div>
<div class="modal-body">
    <label class="error-label" ng-model="error" ng-show="error">{{error}}</label>

    <form name="signupForm">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Tên cơ quan</label>
            <input ng-model="name">
        </md-input-container>
    </form>
</div>
<div class="modal-footer">
    <a href="" ng-click="cancel()">Hủy</a>&nbsp;&nbsp;
    <button class="btn btn-primary" type="button" ng-click="postDivision()">Thêm cơ quan</button>
</div>