<md-dialog flex="60">
	<md-toolbar>
        <div class="md-toolbar-tools">
        	<h4>{{requestIndex.serviceName}} <span>•</span> [{{requestIndex.address}}] </h4>
        	<span flex></span>
        	<md-button class="md-icon-button" ng-click="cancel()">
          	    <md-icon md-svg-src="icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        	</md-button>
        </div>
    </md-toolbar>
	<md-content class="md-padding" my-enter="moveIssue()">
		<div class="parent">
			<p class="issue-address"><i class="glyphicon glyphicon-time"></i> {{request.happenDatetime | date:'dd/MM/yyyy HH:mm:ss'}}</p>
			<p class="issue-content">{{requestIndex.description}}</p>
			<span class="info float-right border-btm">{{requestIndex.requestedDatetime | date:'dd/MM/yyyy HH:mm:ss'}}
				<span class="sep">•</span>
				<span>Đăng bởi </span>
				<a href="" class="user">{{requestIndex.user.name}}</a>
			</span>
		</div>

		<div layout="row">
			<md-input-container class="md-block" flex>
			    <label>Cơ quan chuyên trách</label>
			    <md-select ng-model="division">
				    <md-option ng-repeat="division in divisions" ng-value="{{division}}">
				        {{division.name}}
				    </md-option>
				</md-select>
		    </md-input-container>
		</div>
	    <md-input-container class="md-block">
	        <label>Bình luận</label>
	        <textarea ng-model="comment" md-maxlength="500" rows="4" md-select-on-focus></textarea>
	    </md-input-container>
	</md-content>
	<md-dialog-actions layout="row">
      <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button> -->
        <a href="" ng-click="cancel()">Hủy</a>&nbsp;&nbsp;
        <button class="btn btn-primary" type="button" ng-click="moveIssue()">Chuyển phản ánh</button>
    </md-dialog-actions>
</md-dialog>