<div class="container">
	<section class="col-lg-8 col-md-12">
		<!-- Danh sách request -->
		<div >
			<div class="content-title">
				<div class="user-avatar">
					<md-card class="float-left issue-by-me-avatar">
	 					<img ng-src="{{user.avatar? user.avatar : 'assets/img/no-avatar.png'}}">
	 				</md-card>
				</div>
					{{user.name}}<br>
					<small>Người dùng đã đăng {{requestsByMe.length}} phản ánh</small>
			</div>
			<md-content>
		      	<md-list class="bordered" flex>
		      		<h4 ng-hide="requestsByMe.length">Không có phản ánh nào</h4>
			        <md-list-item class="md-3-line" ng-repeat="request in showRequests" ng-href="#/issue/{{request.serviceRequestId}}">
			          	<img ng-src="{{request.mediaUrl != null? request.mediaUrl : 'assets/img/no-image-issue.jpg';}}" alt="image caption" class="md-avatar"/>
			          	<div class="md-list-item-text" layout="column">
				            <h3><strong><a>{{request.serviceName}}</a></strong>&nbsp;
				            <small><i class="glyphicon glyphicon-triangle-right"></i></small>&nbsp;
				            <span ng-class="{text_red: request.statusId == 'DA_TIEP_NHAN', text_green: request.statusId == 'DA_CHUYEN', text_blue: (request.statusId == 'DA_DUYET' || request.statusId == 'DA_XU_LY'), text_grey: request.statusId == 'DA_XOA'}"><strong>{{convertStatusId(request.statusId)}}</strong></span>
				            </h3>
				            <p>{{request.address}}</p>
							<p class="issue-address"><i class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;<time am-time-ago="'{{request.requestedDatetime}}'"></time></p>
			          	</div>
			        </md-list-item>
		      	</md-list>
		    </md-content>
		</div>
		<!-- Pagination -->
		<div class="pagination module-block" ng-if="requestsByMe.length">
			<div class="float-right hidden-xs"> Hiển thị {{(pager.currentPage - 1) * requestPerPage + 1}} - {{pager.currentPage * requestPerPage >= requestsByMe.length ? requestsByMe.length : pager.currentPage * requestPerPage;}} của {{requestsByMe.length}}</div>
			<div class="float-left pagination-achor">
				<a ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(1,requestsByMe)">Trang đầu</a>
				<a ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(pager.currentPage - 1,requestsByMe)"><i class="glyphicon glyphicon-menu-left"></i></a>
				<a ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}" ng-click="setPage(page,requestsByMe)">
					{{page}}
				</a>
				<a ng-class="{disabled:pager.currentPage === pager.totalPages}" ng-click="setPage(pager.currentPage + 1,requestsByMe)"><i class="glyphicon glyphicon-menu-right"></i></a>
				<a ng-class="{disabled:pager.currentPage === pager.totalPages}" ng-click="setPage(pager.totalPages,requestsByMe)">Trang cuối</a>
			</div>
		</div>
	</section>
</div>
