<div class="container" id="content_container">
	<section class="col-lg-8 col-md-12" >
		<div class="main bordered">
			<div class="content-title">
				{{requestIndex.serviceName}}
				<h4>{{requestIndex.address}}</h4>
			</div>	
			<div class="issue-main">
				<div class="issue-detail-image">
					<img ng-src="{{requestIndex.mediaUrl}}">
				</div>
				<div class="issue-detail-panel">
					<strong>Id phản ánh: </strong>{{requestIndex.serviceRequestId}}<br>
					<strong>Ngày đăng bài: </strong>{{requestIndex.happenDatetime | date:'dd/MM/yyyy HH:mm:ss'}}<br>
					<strong>Người đăng bài: </strong><a href="" class="user">{{requestIndex.user.name}}</a><br>
					<strong>Chi tiết phản ánh: </strong>{{requestIndex.description}}<br>
					<strong>Trạng thái phản ánh: </strong>{{requestIndex.statusId}}	
				</div>
			</div>
		</div>
		<div class="comment-box bordered main" ng-show="{{countComment}}">
			<div class="content-title">
				<div ng-show="{{comments.length}}">Có {{comments.length}} bình luận</div>
				<div ng-hide="{{comments.length}}">Chưa có bình luận nào</div>
			</div>	
			<ul class="issue-detail-comments">
				<li ng-repeat="comment in comments">
					<h5 class="user-name">
						<a href="" class="user-link">{{comment.user.name}}</a>
					</h5>
					<div class="commentText">{{comment.content}}</div>
					<span class="info">{{comment.postDatetime}}</span>
				</li>
			</ul>
		</div>

		<div class="post-comment-box bordered main">
			<div class="content-title">
				Đăng bình luận
			</div>	
			<!-- <div class="post-comment">
				<textarea id="comment-textarea" placeholder="Viết bình luận..." ng-model="textContent"></textarea>
				<button type="submit" class="btn btn-success btn-send-comment" data-error="Hãy viết 1 bình luận vào" ng-click="submitComment(requestIndex)">Gửi bình luận</button>
			</div> -->
			<md-input-container class="md-block">
	        <label>Bình luận</label>
	        <textarea ng-model="comment" md-maxlength="500" rows="4" md-select-on-focus></textarea>
	    </md-input-container>
		</div>
		<md-input-container class="md-block">
	        <label>Bình luận</label>
	        <textarea ng-model="comment" md-maxlength="500" rows="4" md-select-on-focus></textarea>
	    </md-input-container>
	</section>		

	<section class="col-lg-4 col-md-12">
		<div class="main bordered">
			<div class="content-title">
			DANH SÁCH CÁC PHẢN ÁNH
			</div>
			<div ng-show="request.length">
				<label>
					Chưa có phản ánh nào
				</label>
			</div>
			<div id="issue-list">
				<ul id="issue-list-ul">
					<li ng-repeat="request in requests" ng-attr-id="{{'issue_id_' + request.serviceRequestId}}">
						<div>
							<h5 class="issue-title">
								<a href="#/issue/{{request.serviceRequestId}}" class="issue-link">{{request.serviceName}}</a>
							</h5>
							<h5 class="issue-address">{{request.address}}</h5>
							<p class="issue-content">{{request.description}}</p>
							<span class="info">{{request.happenDatetime| date:'dd/MM/yyyy'}}
								<span class="sep">•</span>
								<a href="" class="user">{{request.user.name}}</a>
							</span>
						</div>
					</li>
				</ul>
			</div>
		</div>	
	</section>
</div>