.btn-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.btn-upload input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: 0;
    max-width: 100%;
    height: 100%;
    display: block;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.stepTable tr td{
    vertical-align: top;
    padding-bottom: 10px;
}
.main{
    border: 1px solid #ddd;
    padding: 0px;
}
.issue-panel{
    margin-left: 110px;
    margin-right:10px;
    padding-bottom: 10px;
}
.issue-image{
    float: left;
    padding-right: 10px;
}
.issue-image img{
    display: block;
}
.issue-title{
    margin-bottom: 5px;
}
.content-title{
    border-bottom: 4px solid #DBDBDB;
    background-color: #E6E6E6;
    padding:12px;
}
.content-title h4{
    margin: 0;
}
.issue-address{
    color:#999999;
    font-style: italic;
    margin-bottom: 5px;
}
#issue-list ul{
    padding-top: 10px;
    padding-left: 10px;
}
#issue-list ul li{
    list-style-type: none;
    border-bottom: 1px solid #DBDBDB;
}
.issue-link{
    color: #1171B4;
    text-decoration: none !important;
    outline: none;
    font-weight: bold;
}
.issue-content{
    margin-bottom: 0px;
}
.info{
    color: #999999;
    font-size: 12px;
}
.sep{
    color:#999999;
    padding:0 5px;
}
.user{
    color: #1171B4;
    text-decoration: none !important;
    outline: none;
}
.thumbnail-image{
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.issue-comments > li{
    background-color: #f7f7f7;
    border-bottom: 2px solid #fff !important;
    padding:7px;

}
.user-link{
    padding:0;
    text-decoration: none !important;
    outline: none;
    font-weight: bold;
}
.user-name{
    margin:0;
}
.change-view {
    position: absolute;
    right: 10px;
    top: 8px;
    height: 32px;
    width: 96px;
}
 .change-view a {
    background: #e4e4e4;
    padding: 4px 6px;
    float: right;
    margin-left: 4px;
    border-radius: 2px;
}
#issue-list-ul li:last-child{
    border:none;
}
body{
    background-color: #fcfcfc
}
.thumb {
    width: 128px;
    height: 128px;
    float: none;
    position: relative;
    top: 7px;
}