<div class="modal-header">
	<button class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
	<h4 class="modal-title">Đăng ký tài khoản</h4>
</div>
<div class="modal-body">
	<label class="error-label" ng-model="error" ng-show="error">{{error}}</label>
	<input type="input" class="form-control" id="displayNameInput" placeholder="Tên hiển thị" style="margin-bottom:10px" autofocus required ng-model="name">
		<input type="input" id="emailInputSignup" class="form-control" placeholder="Địa chỉ email" style="margin-bottom:10px" required ng-model="email">
	<input type="password" id="passwordInputSignup" class="form-control" placeholder="Mật khẩu" required style="margin-bottom:10px" ng-model="password">
	<input type="password" id="confirmPasswordInputSignup" class="form-control" placeholder="Nhập lại mật khẩu" required style="margin-bottom:10px" ng-model="confirmPassword">
	<input type="input" id="phoneInputSignup" class="form-control" placeholder="Điện thoại" required style="margin-bottom:10px" ng-model="phone">
	<input type="input" id="idInputSignup" class="form-control" placeholder="CMND" required ng-model="id">
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-theme="bigBlue" spinner-on="showSpinner"></span>		
</div>
<div class="modal-footer">
	<a href="" ng-click="logInModal()">Đăng nhập</a>	
    <button class="btn btn-primary" type="button" ng-click="signUp()">Đăng ký</button>	
</div>