.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -30px;
    position: relative;
    background-color: #efefef;
}

.clearfooter {
height: 30px;
clear: both;
}

.footer-bottom {
    position: relative;
    bottom: 0;
    background-color: #314a93;
    min-height: 30px;
    width: 100%;
}

.btn-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.btn-upload input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: 0;
    max-width: 100%;
    height: 100%;
    display: block;
}
.stepTable tr td {
    vertical-align: top;
    padding-bottom: 10px;
}

.main {
    padding: 0px;
    background-color: #fff;
    margin-bottom: 20px;
}

.issue-panel {
    margin-left: 110px;
}

.issue-title{
    margin-bottom: 5px;
}

.content-title{
    background-color: #314a93;
    color: #fff;
    font-size: 20px;
    padding: 12px;
}

.issue-address {
    color:#999999;
    font-style: italic;
    margin-bottom: 0px;
    font-size: 90%;
}

#issue-list ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right:10px;
}

#issue-list ul li {
    border-bottom: 1px solid #DBDBDB;
}

#issue-list-ul li:last-child {
    border:none;
}

.issue-link {
    text-decoration: none !important;
    outline: none;
    font-weight: bold;
    font-size: medium;
}

.issue-content {
    margin-bottom: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
}

.info {
    color: #999999;
    font-size: 13px;
}

.sep {
    color:#999999;
    padding:0 5px;
}

.user {
    color: #1171B4;
    text-decoration: none !important;
    outline: none;
}

.thumbnail-image {
    width: 100px;
    height: 100px;
}

.gallery-image {
    width: 200px;
    height: 200px;
    padding: 3px;
    border: 1px solid #ddd;
}

.hoverbox {
    cursor: default;
    list-style: none;
}

.hoverbox img {
    background: #fff;
    border-color: #aaa #ccc #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    padding: 2px;
    vertical-align: top;
    width: 200px;
    height: 200px;
}

.hoverbox li {
    background: #eee;
    border-color: #ddd #bbb #aaa #ccc;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    display: inline;
    float: left;
    margin: 10px;
    padding: 5px;
    position: relative;
}

.hoverbox .preview {
    border-color: #000;
    width: 300px;
    height: 300px;
}

.issue-comments > li {
    background-color: #f7f7f7;
    border-bottom: 2px solid #fff !important;
    padding:7px;
}

.user-link {
    padding:0;
    text-decoration: none !important;
    outline: none;
    font-weight: bold;
}

.user-name {
    margin:0;
}

.change-view a {
    color: #e5e5e5;
    text-decoration: none;
    padding-left: 5px;
}

.thumb {
    width: 128px;
    height: 128px;
    float: none;
    position: relative;
    top: 7px;
}

.issue-main{
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    zoom:1;
}

.issue-detail-image{
    padding-right: 10px;
    float: left;
    margin-bottom: 10px;
    position: relative;
    display: block;
}
.issue-detail-image img{
    width: 200px;
    height: auto;
    padding: 3px;
    border: 1px solid #ddd;
    position: relative;
    display: block;
    overflow: hidden;
}
.issue-detail-panel{
   overflow: hidden;
   vertical-align: top;
}
.issue-detail-comments{
    padding-left: 15px;
    margin-bottom: 0px;
}
.issue-detail-comments li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DBDBDB;
}
.issue-detail-comments li:last-child{
    border-bottom: none;
}
.post-comment{
    padding:12px;
    padding-bottom: 45px;
}
#comment-textarea{
    padding: 5px;
    width: 100%;
}
.btn-send-comment{
    margin-top:5px;
    display: inline-block;
    float: right;
}
#profile {
    width: 500px;
    height: 200px;
    background-color: #E6E6E6;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

#profile img {
    float: left;
}

.profile_name {
    background-color: black;
    color: white;
    width: 480px;
    font-size: 2em;
    padding: 10px;
}

.profile_details {
    float: left;
    width: 370px;
    height: 120px;
    color: white;
    font-size: 1.4em;
    padding: 10px;
}
#profile-content{
    padding:10px 20px;
    background-color: #fff;
}
.info-row{
    padding: 13px 0px;
}

.border-btm{
    border-bottom: 1px solid #ddd;
}

.border-top{
    border-top: 1px solid #ddd;
}

.bordered{
    border: 1px solid #ddd;
}

.info-row label{
    float: left;
}
.info-text{
    margin-left: 130px;
}
.edit-info{
    margin: 10px 0px 10px 0px;
    float: right;
}
.form-control{
    margin-bottom: 10px;
}
.tabsdemoStaticTabs md-tab-content {
  padding: 25px; }
  .tabsdemoStaticTabs md-tab-content:nth-child(1) {
    background-color: #42A5F5; }
  .tabsdemoStaticTabs md-tab-content:nth-child(2) {
    background-color: #689F38; }
  .tabsdemoStaticTabs md-tab-content:nth-child(3) {
    background-color: #26C6DA; }

.tabsdemoStaticTabs .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
  margin-top: 26px;
  margin-left: 0; }

.error-label {
    color: red;
}

.input-group-addon {
    color: #fff;
    background: #3276B1;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px; 
}

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; 
}

.modal-header {
    background-color: #106cc8;
    color: white;
}

.parent {
    overflow: auto;
    margin-bottom: 5px;
}

.hint {
    font-size: 13px;
    color: grey; 
}
.md-select-menu-container {z-index: 9999;}




/* .fa {
  color:#666;
}

hr {
  border-color: transparent;
}


#userList {
  display:none;
}

#loader {
  position:absolute;
  z-index:2;
  width:100%;
  text-align:center;
  top:40%;
}

.cap:first-letter {
    text-transform: uppercase;
}

.alt {
    background-color:#ccc;
} */