<div class="modal-header" style="background:#F2F2F2;">
	<button class="close" data-dismiss="modal">&times;</button>
	<h4 style="margin:0 0 0 0">Đăng ký tài khoản</h4>
</div>
<div class="modal-body">
	<label id="errorLabelSignup" style="color:Red" ng-model="error">{{error}}</label>
	<input type="input" class="form-control" id="displayNameInput" placeholder="Tên hiển thị" style="margin-bottom:10px" autofocus required ng-model="name">
		<input type="input" id="emailInputSignup" class="form-control" placeholder="Địa chỉ email" style="margin-bottom:10px" required ng-model="email">
	<input type="password" id="passwordInputSignup" class="form-control" placeholder="Mật khẩu" required style="margin-bottom:10px" ng-model="password">
	<input type="password" id="confirmPasswordInputSignup" class="form-control" placeholder="Nhập lại mật khẩu" required style="margin-bottom:10px" ng-model="confirmPassword">
	<input type="input" id="phoneInputSignup" class="form-control" placeholder="Điện thoại" required style="margin-bottom:10px" ng-model="phone">
	<input type="input" id="idInputSignup" class="form-control" placeholder="CMND" required ng-model="id">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="signUp()">Đăng ký</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Hủy</button>		
</div>