<div class="container">
    <div class="col-lg-3 col-md-12">
        <div class="content-title">
            Phân loại
        </div>

        <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </div>
        <div class="list-group">
            <a href="" class="list-group-item" ng-repeat="announcementType in announcementTypes" ng-click="$parent.type = announcementType">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true" ></span>&nbsp;&nbsp; {{announcementType}}
            </a>
        </div>
        <button type="submit" class="btn btn-success btn-block" ng-click="postAnnouncement()" ng-if="isManager()">Tạo thông báo</button>
    </div>

    <div class="col-lg-9 col-md-12 announcement-content bordered-radius">    
        <h3 class="announcement-type">{{type}}</h3>
        <ul class="announcement-panel">
            <h4 ng-hide="(announcements | filter: {type: type}).length">Chưa có thông báo nào</h4>
            <li ng-repeat="announcement in showAnnouncements" ng-attr-id="{{'issue_id_' + announcement.id}}">
                <h5 class="issue-title">
                    <span><a href="" class="issue-link">{{announcement.title}}</a>&nbsp;&nbsp;({{announcement.time | date:'HH:mm - dd/MM/yyyy'}})</span>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-if="isManager()" ng-click="deleteAnnouncement(announcement.id)"></span>
                </h5>
                
                <p class="issue-content" hm-read-more
                    hm-text="{{announcement.description}}"
                    hm-limit="230"
                    hm-more-text="Đọc thêm"
                    hm-less-text="Thu nhỏ"
                    hm-dots-class="dots"
                    hm-link-class="links">
                </p>
            </li>
        </ul>
        <!-- Pagination -->
        <div class="pagination module-block" ng-if="pager.pages.length">
            <div class="float-right"> Hiển thị {{(pager.currentPage - 1) * announcementPerPage + 1}} - {{pager.currentPage * announcementPerPage >= filteredAnnouncements.length ? filteredAnnouncements.length : pager.currentPage * announcementPerPage;}} của {{filteredAnnouncements.length}}</div>
            <div class="float-left pagination-achor">
                <a ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(1,filteredAnnouncements)">Trang đầu</a>
                <a ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(pager.currentPage - 1,filteredAnnouncements)"><i class="glyphicon glyphicon-menu-left"></i></a>
                <a ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}" ng-click="setPage(page,filteredAnnouncements)">
                    {{page}}
                </a>
                <a ng-class="{disabled:pager.currentPage === pager.totalPages}" ng-click="setPage(pager.currentPage + 1,filteredAnnouncements)"><i class="glyphicon glyphicon-menu-right"></i></a>
                <a ng-class="{disabled:pager.currentPage === pager.totalPages}" ng-click="setPage(pager.totalPages,filteredAnnouncements)">Trang cuối</a>
            </div>
        </div>
    </div>
</div>