<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-5">
			<ul class="nav nav-tabs">
				<li class="active" ng-class="{active: reportTab.isSelectedTab(1)}">
					<a data-toggle="tab" href="" id="tab1" ng-click="reportTab.selectTab(1)">Bước 1</a>
				</li>
				<li ng-class="{active: reportTab.isSelectedTab(2)}">
					<a data-toggle="tab" href=""  id="tab2" ng-click="reportTab.selectTab(2)">Bước 2</a>
				</li>
				<li ng-class="{active: reportTab.isSelectedTab(3)}">
					<a data-toggle="tab" href="" id="tab3" ng-click="reportTab.selectTab(3)">Bước 3</a>
				</li>
				<li ng-class="{active: reportTab.isSelectedTab(4)}">
					<a data-toggle="tab" href="" id="tab4" ng-click="reportTab.selectTab(4)">Bước 4</a>
				</li>
			</ul>
			<div class="tab-content" style="padding-top:20px;">
				<div id="step1" class="tab-pane fade in" ng-class="{active: reportTab.isSelectedTab(1)}">	
					<strong>Cho biết các thông tin về chủ đề phản ánh, cung cấp các hình ảnh liên quan (nếu có)</strong>
					<hr style="margin:10px 0px 30px 0px;">
					<table class="stepTable" style="border:none">
						<tr>
							<td class="col-md-4">Chủ đề:</td>
							<td>
								<select class="form-control col-md-8" name="chude" id="subject"  style="width:100%" ng-model="serviceType" 
								ng-options="issue for (issue, value) in issues">
								</select>
							</td>
						</tr>							
						<tr>
							<td class="col-md-4">Chi tiết:</td>
							<td>
								<select class="form-control" style="display:inline;width:100%" ng-model="serviceName"
								ng-options="issue.name for issue in serviceType">			
								</select>

							</td>
						</tr>
						<tr>
							<td class="col-md-4">Thời gian:</td>
							<td><input type="text" data-field="datetime" ng-model="happenDateTime" class="form-control">									
							</td>
						</tr>
						<tr>
							<td class="col-md-4">Hình ảnh:</td>
							<td>
								<button class="btn btn-primary" ngf-select ng-model="picFile" name="file" ngf-accept="'image/*'" ngf-max-size="20MB" >Chọn ảnh</button>
							</td>
						</tr>
						<tr>
							<td class ="col-md-4"></td>
							<td>
								<button class="btn btn-primary" ng-click="picFile = null" ng-show="picFile">Xoá ảnh</button>						
								<img ng-show="picFile" ngf-thumbnail="picFile" class="thumb" />
							</td>
						</tr>
						<tr>
							<td class="col-md-4">Mô tả:</td>
							<td>
								<textarea class="form-control" ng-model="description" required cols="40" rows="3"></textarea>
							</td>
						</tr>
					</table>
					<hr>
					<table class="col-md-12">
						<tr>
							<td style="direction:rtl">
								<a class="btn btn-primary btnNext" ng-click="reportTab.selectTab(2)">Đi tới</a>
								<button class="btn btn-danger">Hủy bỏ</button>
							</td>
						</tr>
					</table>
				</div>

				<div id="step2" class="tab-pane" ng-class="{active: reportTab.isSelectedTab(2)}">
					<strong>Cung cấp địa điểm sự việc</strong>
					<hr style="margin:10px 0px 30px 0px;">
					<table class="stepTable">
						<tr>
							<td class="col-md-4">Quận:</td>
							<td>
								<select class="form-control" style="width:100%"
								ng-model="district" ng-options="d for (d, w) in districts">
								</select>
							</td>
						</tr>
						<tr>
							<td class="col-md-4">Phường:</td>
							<td>
								<select class="form-control" style="display:inline;width:100%"
								ng-model="ward" ng-options="ward.name for ward in district">
								</select>
							</td>
						</tr>
						<tr>
							<td class="col-md-4">Địa chỉ:</td>
							<td>
								<input class="form-control" type="text" style="width:300px"
								ng-model="street">
							</td>
						</tr>
					</table>
					<div id="map" style="width:480px;height:380px;margin-bottom:10px;"></div>
					<table class="longlat stepTable">
						<tr>
							<td class="col-md-3"> Kinh độ </td>
							<td class="col-md-3">
								<input class="form-control" readonly="readonly" id="longitude" style="width:100%" ng-model="longitude">
							</td>
							<td class="col-md-3"> Vĩ độ </td>
							<td class="col-md-3">
								<input class="form-control" readonly="readonly" id="latitude"
								ng-model="latitude">
							</td>								
						</tr>
					</table>						
					<hr>
					<table class="col-md-12">
						<tr>
							<td style="direction:rtl">
								<a class="btn btn-primary btnNext" ng-click="reportTab.tab = 3">Đi tới</a>
								<a class="btn btn-primary btnPrev" ng-click="reportTab.tab = 1" >Trở về</a>
								<button class="btn btn-danger">Hủy bỏ</button>
							</td>
						</tr>
					</table>	
				</div>

				<div id="step3" class="tab-pane" ng-class="{active: reportTab.isSelectedTab(3)}">
					<strong><a href="" data-toggle="modal" data-target="#signupModal">Đăng ký tài khoản </a>để chúng tôi có thể tương tác với bạn nhanh chóng và tiện lợi</strong>
					<br><br>
					<strong><a href="" data-toggle="modal" data-target="#signinModal">Đăng nhập</a> nếu đã có tài khoản</strong>
					<hr style="margin:10px 0px 30px 0px;">
					<form action="form.html" id="step3Form">
						<table class="stepTable">
							<tr>
								<td class="col-md-6">Tên hiển thị:</td>
								<td>
									<input class="form-control" type="text" id="name" required style="width:300px" readonly="true">
								</td>
							</tr>
							<tr>
								<td class="col-md-6">Email:</td>
								<td>
									<input class="form-control" type="text" id="email" required style="width:300px" readonly="true">
								</td>
							</tr>
							<tr>
								<td class="col-md-6 info">Số điện thoại:</td>
								<td>
									<input class="form-control" type="text" id="phone" required style="width:300px" readonly="true">
								</td>
							</tr>
							
							<tr>
								<td class="col-md-6 info">CMND:</td>
								<td>
									<input class="form-control" type="text" id="identify"  style="width:300px" readonly="true">
								</td>
							</tr>
						</table>
						<input type="checkbox" id="infoDisplay">&nbsp;Không hiển thị thông tin cá nhân
						<hr>
						<table class="col-md-12">
							<tr>
								<td style="direction:rtl">
									<a class="btn btn-primary btnNext" ng-click="reportTab.tab = 4">Đi tới</a>
									<a class="btn btn-primary btnPrev" ng-click="reportTab.tab = 2">Trở về</a>
									<button class="btn btn-danger">Hủy bỏ</button>
								</td>
							</tr>
						</table>
					</form>
				</div>

				<div id="step4" class="tab-pane" ng-class="{active: reportTab.isSelectedTab(4)}">
					<strong>Xem lại các thông tin trên, tiến hành chỉnh sửa các thông tin sai trước khi gửi đi phản ánh</strong>
					<hr style="margin:10px 0px 30px 0px;">
					<h4 style="display:inline;padding-right:10px;color:#39A">Bước 1: Vấn đề</h4>
					<hr>
					<table class="stepTable" style="margin-bottom:30px;">
						<tr> 
							<td class="col-md-4">Chủ đề:</td>
							<td>
								<select class="form-control col-md-8" id="subInfo" name="chude" style="width:100%" ng-model="serviceType" ng-options="issue for (issue, value) in issues" >
								</select>						
							</td>
						</tr>
						<tr>
							<td class="col-md-4">Chi tiết:</td>
							<td id="detailInfo">
								<select class="form-control" style="display:inline;width:100%" ng-model="serviceName"
								ng-options="issue.name for issue in serviceType" >			
								</select>
							</td>
						</tr>
						<tr>
							<td class="col-md-4">Thời gian:</td>
							<td><input type="text" data-field="datetime" ng-model="happenDateTime" class="form-control" >		
						</tr>
						<tr>
							<td class="col-md-4">Hình ảnh:</td>
							<td>
								<button class="btn btn-primary" ngf-select ng-model="picFile" name="file" ngf-accept="'image/*'" ngf-max-size="20MB"  
								>Chọn ảnh</button>
							</td>
						</tr>
						<tr>
							<td class ="col-md-4"></td>
							<td>
								<button class="btn btn-primary" ng-click="picFile = null" ng-show="picFile" >Xoá ảnh</button>						
								<img ng-show="picFile" ngf-thumbnail="picFile" class="thumb" />
							</td>
						</tr>				
						<tr>
							<td class="col-md-4">Mô tả thêm:</td>
							<td><textarea class="form-control infoStep1" id="desInfo" cols="40" rows="3" ng-model="description" ></textarea></td>
						</tr>
					</table>
					<h4 style="display:inline;padding-right:10px;color:#39A">Bước 2: Địa điểm</h4>
					<hr>
					<table class="stepTable" style="margin-bottom:30px;">
						<tr>
							<td class="col-md-4">Quận:</td>
							<td>								
								<select class="form-control" style="width:100%" id="disInfo"
								ng-model="district" ng-options="d for (d, w) in districts">
								</select>
							</td>
						</tr>						
						<tr>
							<td class="col-md-4">Phường:</td>
							<td>
								<select class="form-control" style="display:inline;width:100%"
								ng-model="ward" ng-options="ward.name for ward in district">
								</select>
							</td>
						</tr>
						<tr> 
							<td class="col-md-4">Địa chỉ:</td>
							<td>
								<input class="form-control" id="addInfo" type="text" style="width:300px" ng-model="street">
							</td>
						</tr>
					</table>
					<h4 style="display:inline;padding-right:10px;color:#39A">Bước 3: Thông tin cá nhân</h4>
					<button id="step3Btn" class="btn btn-default" onclick="step3Edit()" style="float:right">
						<span class="glyphicon glyphicon-edit"></span> Chỉnh sửa
					</button>
					<hr>
					<table class="stepTable" style="margin-bottom:10px;">
						<tr> 
							<td class="col-md-4">Họ tên:</td>
							<td><input class="form-control col-md-8 infoStep3" id="nameInfo" type="text" style="width:300px;"readonly="true"></td>
						</tr>
						<tr>
							<td class="col-md-4">Số điện thoại:</td>
							<td><input class="form-control col-md-8 infoStep3" id="phoneInfo" type="text" readonly="true"></td>
						</tr>
						<tr>
							<td class="col-md-4">Email:</td>
							<td><input class="form-control col-md-8 infoStep3" id="emailInfo" type="text" readonly="true"></td>
						</tr>
						<tr>
							<td class="col-md-4">CMND:</td>
							<td><input class="form-control col-md-8 infoStep3" id="idenInfo" type="text" readonly="true"></td>
						</tr>
					</table>
					<hr>
					<table class="col-md-12">
						<tr>
							<td style="direction:rtl">
								<button type="submit" form="step4Form" class="btn btn-success" ng-click="reportTab.submitReport()">Gửi</button>
								<a class="btn btn-primary btnPrev" ng-click="reportTab = 3" >Trở về</a>
								<button class="btn btn-danger">Hủy bỏ</button>
							</td>
						</tr>
					</table>
				</div>


				<div class="modal fade col-md-4 col-md-offset-4" id="signinModal" style="padding-top:30px">
					<div class="modal-content">
						<div class="modal-header" style="background:#F2F2F2">
							<button class="close" data-dismiss="modal">&times;</button>
							<h4 style="margin:0 0 0 0">Lựa chọn hình thức đăng nhập</h4>
						</div>
						<div class="modal-body">
							<ul class="nav nav-tabs" id="signinTabs">
								<li class="active"><a data-toggle="tab" href="">Đã có tài khoản</a></li>
								<li><a data-toggle="tab" href="#guest">Tài khoản khách</a></li>
							</ul>

							<div class="tab-content">
								<div id="signin" class="tab-pane active fade in">
									<label id="errorLabel" style="color:red"></label>
				         			<input type="input" id="emailInput" class="form-control" placeholder="Địa chỉ email" style="margin-bottom:10px" autofocus required>
									<input type="password" id="passwordInput" class="form-control" placeholder="Mật khẩu"  required>
									<hr>
									<input type="submit" class="btn btn-primary btn-block" value="Đăng nhập" onclick="signin()">
								</div>
								<div id="guest" class="tab-pane fade in">
									<label style="color:red" id="errorLabelGuest"></label>
									<input type="input" id="displayNameGuest" class="form-control" placeholder="Tên hiển thị" style="margin-bottom:10px" autofocus required>
									<input type="input" id="emailInputGuest" class="form-control" placeholder="Địa chỉ email"  required>
									<hr>
									<input type="submit" class="btn btn-primary btn-block" value="Đăng nhập" onclick="signinGuest()">
								</div>	
							</div>
		       	 		</div>

					</div>
				</div>

				<div class="modal fade col-md-4 col-md-offset-4" id="signupModal" style="padding-top:30px">
					<div class="modal-content">
						<div class="modal-header" style="background:#F2F2F2;">
							<button class="close" data-dismiss="modal">&times;</button>
							<h4 style="margin:0 0 0 0">Đăng ký tài khoản</h4>
						</div>
						<div class="modal-body">
							<label id="errorLabelSignup" style="color:Red"></label>
							<input type="input" class="form-control" id="displayNameInput" placeholder="Tên hiển thị" style="margin-bottom:10px" autofocus required>
		         			<input type="input" id="emailInputSignup" class="form-control" placeholder="Địa chỉ email" style="margin-bottom:10px" required>
							<input type="password" id="passwordInputSignup" class="form-control" placeholder="Mật khẩu" required style="margin-bottom:10px">
							<input type="password" id="confirmPasswordInputSignup" class="form-control" placeholder="Nhập lại mật khẩu" required style="margin-bottom:10px">
							<input type="input" id="phoneInputSignup" class="form-control" placeholder="Điện thoại" required style="margin-bottom:10px">
							<input type="input" id="idInputSignup" class="form-control" placeholder="CMND" required>
	       	 			</div>
						<div class="modal-footer">
			          		<input type="submit" class="btn btn-primary btn-block" value="Đăng ký" onclick="signup()">
			        	</div>
						
					</div>
				</div>

				<div id="dtBox"></div>

			</div>
		</div>
		<div class="col-md-4"></div>

	</div>
</div>