<div class="container" id="content_container">
	<section class="main col-md-8">
		<div class="search">
			<form>
				<!-- Search input -->
			</form>
		</div>
		<div class="content-title">
			<div class="change-view">
				<a href="#/gallery">
					<i class="glyphicon glyphicon-th"></i>
				</a>						
				<a href="#/map">
					<i class="glyphicon glyphicon-map-marker"></i>
				</a>
				<a href="#/">
					<i class="glyphicon glyphicon-th-list"></i>
				</a>					
			</div>
			<h4>DANH SÁCH CÁC PHẢN HỒI</h4>
		</div>
		<div id="issue-list">
			<ul id="issue-list-ul" ng-repeat="request in requests">
				<li ng-attr-id="{{'issue_id_' + request.serviceRequestId}}">
					<div class="issue-image">
						<img ng-src="{{request.mediaUrl}}" class="thumbnail-image">
					</div>
					<div class="issue-panel">
						<h5 class="issue-title">
							<a href="" class="issue-link">Issue {{request.serviceRequestId}}  - {{request.serviceName}}</a>
						</h5>
						<p class="issue-address">{{request.address}}</p>
						<p class="issue-content">{{request.description}}</p>
						<span class="info">{{request.happenDatetime}}
							<span class="sep">•</span>
							<span>Đăng bởi </span>
							<a href="" class="user">Luan TEMP</a>
						</span>
						<ul class="issue-comments">
							<li id="comment_id_2">
								<h5 class="user-name">
									<a href="" class="user-link">User 1</a>
								</h5>
								<div class="commentText">Đã ghi nhận trường hợp này</div>
								<span class="info">2016-14-4</span>
							</li>
							<li id="comment_id_1">
								<h5 class="user-name">
									<a href="" class="user-link">User 2</a>
								</h5>
								<div class="commentText">Đã giải quyết trường hợp này</div>
								<span class="info">2016-14-4</span>
							</li>
						</ul>
					</div>
				</li>			
			</ul>
		</div>	
	</section>
	<section class="sidebar col-md-4">
		<div id="mainMap" style="height:380px"></div>
	</section>
</div>