ul{
    list-style: none;
}
.btn-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.btn-upload input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: 0;
    max-width: 100%;
    height: 100%;
    display: block;
}
.stepTable tr td{
    vertical-align: top;
    padding-bottom: 10px;
}
.main{
    border: 1px solid #ddd;
    padding: 0px;
}
.issue-panel{
    margin-left: 110px;
    margin-right:10px;
    padding-bottom: 10px;
}

.issue-image{
    padding-right: 10px;
    float: left;
    margin-bottom: 10px;
    position: relative;
    display: block;
}

.issue-title{
    margin-bottom: 5px;
}
.content-title{
    border-bottom: 4px solid #DBDBDB;
    background-color: #E6E6E6;
    padding:12px;
}
.content-title h4{
    margin: 0;
}
.issue-address{
    color:#999999;
    font-style: italic;
    margin-bottom: 5px;
}
#issue-list ul{
    padding-top: 10px;
    padding-left: 10px;
}
#issue-list ul li{
    list-style-type: none;
    border-bottom: 1px solid #DBDBDB;
}
.issue-link{
    color: #1171B4;
    text-decoration: none !important;
    outline: none;
    font-weight: bold;
}
.issue-content{
    margin-bottom: 0px;
}
.info{
    color: #999999;
    font-size: 12px;
}
.sep{
    color:#999999;
    padding:0 5px;
}
.user{
    color: #1171B4;
    text-decoration: none !important;
    outline: none;
}
.thumbnail-image{
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.gallery-image{
    width: 200px;
    height: 200px;
    padding: 3px;
    border: 1px solid #ddd;
}
.issue-comments > li{
    background-color: #f7f7f7;
    border-bottom: 2px solid #fff !important;
    padding:7px;

}
.user-link{
    padding:0;
    text-decoration: none !important;
    outline: none;
    font-weight: bold;
}
.user-name{
    margin:0;
}
.change-view {
    position: absolute;
    right: 10px;
    top: 8px;
    height: 32px;
    width: 96px;
}
 .change-view a {
    background: #e4e4e4;
    padding: 4px 6px;
    float: right;
    margin-left: 4px;
    border-radius: 2px;
}
#issue-list-ul li:last-child{
    border:none;
}
body{
    background-color: #fcfcfc
}
.thumb {
    width: 128px;
    height: 128px;
    float: none;
    position: relative;
    top: 7px;
}

.hoverbox{
    cursor: default;
    list-style: none;
}

.hoverbox a .preview{
    display: none;
}

.hoverbox a:hover .preview{
    display: block;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: 1;
}

.hoverbox img{
    background: #fff;
    border-color: #aaa #ccc #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    padding: 2px;
    vertical-align: top;
    width: 200px;
    height: 200px;
}

.hoverbox li{
    background: #eee;
    border-color: #ddd #bbb #aaa #ccc;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    display: inline;
    float: left;
    margin: 10px;
    padding: 5px;
    position: relative;
}

.hoverbox .preview{
    border-color: #000;
    width: 300px;
    height: 300px;
}
.issue-main{
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    zoom:1;
}
.bordered{
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.issue-detail{
    height: 350px;
}
.issue-detail-image{
    padding-right: 10px;
    float: left;
    margin-bottom: 10px;
    position: relative;
    display: block;
}
.issue-detail-image img{
    width: 200px;
    height: auto;
    padding: 3px;
    border: 1px solid #ddd;
    position: relative;
    display: block;
    overflow: hidden;
}
.issue-detail-panel{
   overflow: hidden;
   vertical-align: top;
}
.issue-detail-comments{
    padding-left: 15px;
    margin-bottom: 0px;
}
.issue-detail-comments li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DBDBDB;
}
.issue-detail-comments li:last-child{
    border-bottom: none;
}
.post-comment{
    padding:12px;
    padding-bottom: 45px;
}
#comment-textarea{
    padding: 5px;
    width: 100%;
}
.btn-send-comment{
    margin-top:5px;
    display: inline-block;
    float: right;
}
#profile {
    width: 500px;
    height: 200px;
    background-color: #E6E6E6;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

#profile img {
    float: left;
}

.profile_name {
    background-color: black;
    color: white;
    width: 480px;
    font-size: 2em;
    padding: 10px;
}

.profile_details {
    float: left;
    width: 370px;
    height: 120px;
    color: white;
    font-size: 1.4em;
    padding: 10px;
}
