<div class="container" id="content_container">
	<section class="main col-md-8">
		<div class="search">
			<form>
				<!-- Search input -->
			</form>
		</div>
		<div class="content-title">
		    <h1><strong>{{user.name}}</strong></h1>		    
		</div>
		<div id="issue-list">
	        <ul>
	            <li>Tên: {{user.name}}</li>               
	            <li>Email: {{user.email}}</li>  
	            <li>CMND: {{user.identifyCard}}</li>  
	            <li>Số điện thoại: {{user.phoneNumber}}</li>  
	        </ul>
		</div>
		<td>
	</section>
	<section class="sidebar col-md-4">
		<div id="mainMap" style="height:380px"></div>
	</section>
</div>


