<div class="container" id="content_container">
	<section class="col-md-8">
		<div class="search">
			<form>
				<!-- Search input -->
			</form>
		</div>
		<div class="main">
			<div class="content-title">
				<h4>THÔNG TIN TÀI KHOẢN</h4>	
			</div>
			<div id="profile-content">
				<div id="personal">
					<div class="info-row border-btm">
						<label>Tên hiển thị: </label>
						<div class="info-text">{{user.name}}</div>
					</div>
					<div class="info-row border-btm">
						<label>Email: </label>
						<div class="info-text">{{user.email}}</div>
					</div>
					<div class="info-row border-btm">
						<label>CMND: </label>
						<div class="info-text">{{user.identifyCard}}</div>
					</div>
					<div class="info-row">
						<label>Số điện thoại: </label>
						<div class="info-text">{{user.phoneNumber}}</div>
					</div>
				</div>
				<div class="personal-edit" style="display:none;">
					<div class="info-row border-btm">
						<label>Tên hiển thị: </label>
						<div class="info-text">
							<input class="form-control" value="{{user.name}}" >
						</div>
						
					</div>
					<div class="info-row border-btm">
						<label>CMND: </label>
						<div class="info-text">
							<input class="form-control" value="{{user.identifyCard}}" >
						</div>
					</div>
					<div class="info-row">
						<label>Số điện thoại: </label>
						<div class="info-text">
							<input class="form-control" value="{{user.phoneNumber}}" >
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="edit-info">
			<button class="btn btn-info">Chỉnh sửa thông tin</button>	 
			<button class="btn btn-primary" ng-click="changePasswordModal()">Đổi mật khẩu</button>   
		</div>

	</section>
	
	<section class="sidebar col-md-4">
		<div id="mainMap" style="height:380px"></div>
	</section>
</div>


