<div class="container">
	<section class="col-lg-8 col-md-12">
		<div class="main bordered ">
			<div class="content-title">
				<div class="change-view float-right">
					<a href="#/">
						<i class="glyphicon glyphicon-list"></i>
					</a>
					<a href="#/gallery">
						<i class="glyphicon glyphicon-picture"></i>
					</a>
					<a href="#/map">
						<i class="glyphicon glyphicon-map-marker"></i>
					</a>
				</div>
				DANH SÁCH PHẢN ÁNH
			</div>

			<div layout='column'>
		      <div class='md-padding' layout="row" flex>
		        <div layout="row" flex>
		            <div class="parent" layout="column" ng-repeat="photoColumn in issueImages.photos3p" flex>
		                <md-card class="card" data-ng-repeat="photo in photoColumn">
		                	<a ng-mouseover="mouseOver(photo.latitude, photo.longitude)" ng-mouseleave="mouseLeave()" ng-href="#/issue/{{photo.id}}"><img ng-src="{{photo.path? photo.path : 'assets/img/no-image-issue.jpg'}}"></a>
	                    	<md-card-footer class="desc">
						   		<div class="desc_content">
						   			{{photo.name}}
						   		</div>
							</md-card-footer>
		                </md-card>
		            </div>
		        </div>
		      </div>
		    </div>
		</div>

		<div class="pagination module-block" ng-if="pager.pages.length">
			<div class="float-right"> Hiển thị {{(pager.currentPage - 1) * requestPerPage + 1}} - {{pager.currentPage * requestPerPage >= requests.length ? requests.length : pager.currentPage * requestPerPage;}} của {{requests.length}}</div>
			<div class="float-left">
				<a ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(1)">Trang đầu</a>
				<a ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(pager.currentPage - 1)"><i class="glyphicon glyphicon-menu-left"></i></a>
				<a ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}" ng-click="setPage(page)">
					{{page}}
				</a>
				<a ng-class="{disabled:pager.currentPage === pager.totalPages}" ng-click="setPage(pager.currentPage + 1)"><i class="glyphicon glyphicon-menu-right"></i></a>
				<a ng-class="{disabled:pager.currentPage === pager.totalPages}" ng-click="setPage(pager.totalPages)">Trang cuối</a>
			</div>
		</div>
	</section>
	<section class="col-md-4">
		<div class="map bordered">
			<div id="mainMap" style="height:380px"></div>
		</div>
	</section>
</div>