<div id="content_container" class="container">
	<section class="col-lg-8 col-md-12">
		<div class="main bordered">
			<div class="content-title">
				<div class="change-view float-right">
					<a href="#/">
						<i class="glyphicon glyphicon-list"></i>
					</a>
					<a href="#/gallery">
						<i class="glyphicon glyphicon-picture"></i>
					</a>
					<a href="#/map">
						<i class="glyphicon glyphicon-map-marker"></i>
					</a>
				</div>
				DANH SÁCH CÁC PHẢN HỒI
			</div>
			<div ng-hide="requests.length">
				<label>
					Chưa có phản hồi nào
				</label>
			</div>
		<div class="col-sm-4 wrapper" ng-repeat="request in requests">
			<a href="#">
			<div class="fix">
				<img ng-src="{{request.mediaUrl}}" class="img-responsive" alt="" />
				<div class="desc">
					<p class="desc_content">{{request.serviceName}}</p>
				</div>
			</div>
			</a>
		</div>

		</div>
	</section>
	<section class="col-md-4">
		<div class="main bordered" id="mainMap" style="height:380px"></div>
	</section>
</div>