<div id="content_container" class="container">	
	<section class="col-lg-8 col-md-12">
		<div class="main bordered">
			<div class="search">
				<form>
					<!-- Search input -->
				</form>
			</div>
			<div class="content-title">
				<div class="change-view float-right">					
					<a href="#/map">
						<i class="glyphicon glyphicon-map-marker"></i>
					</a>
					<a href="#/">
						<i class="glyphicon glyphicon-th-list"></i>
					</a>					
				</div>
				DANH SÁCH CÁC PHẢN HỒI
			</div>
			<div ng-hide="requests.length"> 
				<label>
					Chưa có phản hồi nào
				</label>
			</div>				
			<div id="issue-list">
				<ul id="issue-galley" class="hoverbox">
					<li ng-repeat="request in requests" ng-attr-id="{{'issue_id_' + request.serviceRequestId}}">
						<a href="#/issue/{{request.serviceRequestId}}">
							<img ng-src="{{request.mediaUrl}}" class="gallery-image">
							<img ng-src="{{request.mediaUrl}}" class="preview">
						</a>
					</li>
				</ul>
			</div>
		</div>	
	</section>
	<section class="col-md-4">
		<div class="main bordered" id="mainMap" style="height:380px"></div>
	</section>
</div>