<div class="container" id="content_container">
	<section class="col-lg-8 col-md-12">
		<div class="main bordered">
			<div class="content-title">
				<div class="change-view float-right">
					<a href="#/gallery">
						<i class="glyphicon glyphicon-picture"></i>
					</a>
					<a href="#/">
						<i class="glyphicon glyphicon-list"></i>
					</a>
				</div>
				VỊ TRÍ CÁC PHẢN ÁNH
			</div>
			<div id="mainMap" style="height:480px"></div>
		</div>
	</section>
	<section class="col-lg-4 col-md-12">
		<div class="main bordered">
			<div class="content-title">
			DANH SÁCH CÁC PHẢN ÁNH
			</div>
			<div ng-show="request.length">
				<label>
					Chưa có phản ánh nào
				</label>
			</div>
			<div id="issue-list">
				<ul id="issue-list-ul">
					<li ng-repeat="request in requests" ng-attr-id="{{'issue_id_' + request.serviceRequestId}}">
						<img ng-src="{{request.mediaUrl}}" class="thumbnail-image float-left">
						<div class="issue-panel">
							<h5 class="issue-title">
								<a href="#/issue/{{request.serviceRequestId}}" class="issue-link">{{request.serviceName}}</a>
							</h5>
							<h5 class="issue-address">{{request.address}}</h5>
							<p class="issue-content">{{request.description}}</p>
							<span class="info">{{request.happenDatetime| date : format : timezone}}
								<span class="sep">•</span>
								<a href="" class="user">{{request.user.name}}</a>
							</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>